/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
display: flex;

}

.exerciseHeaderLogo {
  display: flex;
    width: 200px;
    height: 80px;
    width:20%;
    margin-left:10px;
}


.exerciseHeaderNav {
  display: flex;
  width: 80%;
  margin-right:10px;
}

.exerciseHeaderNav ul {
display: flex;
width:100%;
justify-content: flex-end;
}

.exerciseHeaderNav ul li {
  min-width:100px;
  margin-left:10px;
  list-style: none;

}


.exerciseMainContent {
display: flex;
margin-top:10px;
margin-bottom:10px;

}


.exerciseAdditionalFeatures {
display: flex;


}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
width:33%;
margin-left:10px;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {
margin-left:0px;
}
